<section id="projects">
    <p class="section__text__p1">Browse My Recent</p>
    <h1 class="title">Projects</h1>
    <div class="experience-details-container">
        <div class="about-containers">
            <div class="details-container color-container">
                <h2 class="experience-sub-title project-title">MyShell</h2>
                <div class="article-container">
                    <img src="./assets/myShell.png" alt="Project 1" class="project-img" />
                </div>
                <br>
                <div class="btn-container">
                    <button class="btn btn-color-2 project-btn"
                        onclick="window.open('https://github.com/liakourinoos/basic-shell', '_blank')">
                        Github
                    </button>
                    <button class="btn btn-color-2 project-btn"
                        onclick="window.open('https://hub.docker.com/r/liakourinoos/my-shell', '_blank')">
                        Demo
                    </button>
                </div>
            </div>
            <!-- <div class="details-container color-container">
                <h2 class="experience-sub-title project-title">
                    <a href="https://ai.berkeley.edu/project_overview.html" target="_blank" rel="noopener noreferrer">Berkley's</a> PacMan
                        Projects
                </h2>

                <div class="article-container">
                    <img src="./assets/giphy.webp" alt="Project 2" class="project-img" />
                </div>
                <br>
                <div class="btn-container">
                    <button class="btn btn-color-2 project-btn"
                        onclick="window.open('https://github.com/liakourinoos', '_blank')">
                        Github
                    </button>
                    <button class="btn btn-color-2 project-btn" disabled>
                        Live Demo
                    </button>
                </div>
            </div> -->
            <div class="details-container color-container">
                <h2 class="experience-sub-title project-title">Nanny Booking Service</h2>
                <div class="article-container">
                    <img src="./assets/nanny.webp" alt="Project 3" class="project-img" />
                </div>
                <br>
                <div class="btn-container">
                    <button class="btn btn-color-2 project-btn"
                        onclick="window.open('https://github.com/liakourinoos/eam-front', '_blank')">
                        Github
                    </button>
                    <button class="btn btn-color-2 project-btn"
                        onclick="window.open('https://hub.docker.com/r/liakourinoos/nanika-site', '_blank')">
                        Live Demo
                    </button>
                </div>
            </div>
        </div>
    </div>
    <img src="./assets/arrow.png" alt="Arrow icon" class="icon arrow" onclick="location.href='./#contact'" />
</section>
