<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | default: "My Portfolio" }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/mediaqueries.css' | relative_url }}" />
    <script src="http://127.0.0.1:35729/livereload.js"></script>
</head>

<body>
    {% include navbar.html %}
    
    <!-- Main content -->
    {% include profile.html %}
    {% include about.html %}
    {% include experience.html %}
    {% include projects.html %}
    {% include contact.html %}
    
    {% include footer.html %}
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
</body>

</html>